# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
academarket/__pycache__
venv
.venv
db.*
.env
courses_backups
course_data
courses.json

# academarket
academarket/.my_pgpass
academarket/.pg_service.conf

# api
api/__pycache__
api/migrations
api/utils/__pycache__

# pycache
